body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    text-align: center;
}

html, body {
  background-image: url(backGround.jpg);
  background-size: contain; 
  /* margin: 10px; */
}

.logo {
}

.scroll {
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  width: 300px;
  height: 600px;
}

nav {
}

article {
}
footer{
}
h1{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  }
  
  h1:hover{
  color:blue;
  animation: pulse 2s infinite;
  -webkit-animation-: pulse 2s infinite;
  }
