.mainContainer {
    display: grid;
    grid-gap: 6px;
    height: 100% ;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 10% 40% auto;
    grid-template-areas: 
        "l"
        "n"
        "h"
        "a"
        "f";    
}
.logo {
    grid-area: l;
}
.scroll {
    grid-area: h;
}

nav {
    grid-area: n;  
}
header {
    grid-area: h;
}
article {
    grid-area: a; 
}

footer {
    grid-area: f;
}
